body {
  font-family: Arial, sans-serif;
  background-color: #FADF9B;
}

h1 {
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

.container {
  margin-top: 20px;
}
html{
  background-color: #FADF9B;
}
/*kom*/